<nav id="sidebar">
  <div class="sidebar-header">
    <img src="../../assets/img/logo2.png">
  </div>
  <ul class="components">
    <li>
      <a href="#submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{user.firstName}}
        {{user.lastName}}</a>
      <ul class="collapse list-unstyled" id="submenu">
        <li>
          <a (click)="updateProfile()">Account settings</a>
        </li>
        <li>
          <a (click)="logout()">Log out</a>
        </li>
      </ul>
    </li>
    <app-new-expense></app-new-expense>
    <li class="mt-4">
      <a (click)="viewDashboard()">Your expenses</a>
    </li>
    <li>
      <a>Shared with you</a>
    </li>
    <li>
      <a>Create a team</a>
    </li>
  </ul>
</nav>
