.data-table {
  position: relative;
  width: 550px;
  margin-left: 50px;
  margin-top: 250px;
  margin-bottom: 100px;
}

ng-container,
td {
  width: 500px;
}

.mat-column-Delete {
  width: 8px;
}

.clear {
  cursor: pointer;
  opacity: 0.3;
  font-size: 1.2em;
  margin-top: 5px;
}
