.navbar {
  background: transparent;
}

.form-control {
  border-radius: 1.5rem;
}

.btn {
  width: 100px;
  border: none;
  border-radius: 1.5rem;
  background-color: #54bbc9;
  color: white;
}

.btn:hover {
  background-color: #4eaebb;
}
