.stripe {
  width: 100vw;
  top: 0;
  position: fixed;
  height: 105px;
  margin-left: 250px;
  background: #54bbc9;
}

.title {
  margin-left: 100px;
  margin-top: 30px;
}

h3 {
  color: white;
}

.information {
  margin-top: 160px;
  margin-left: 350px;
  width: 500px;
}

.bluebtn {
  border: none;
  width: 150px;
  border-radius: 1.5rem;
  background-color: #54bbc9;
  color: white;
}

.bluebtn:hover {
  background-color: #4eaebb;
}

#greybtn {
  border: none;
  width: 150px;
  border-radius: 1.5rem;
  background-color: #646668;
  color: white;
}

#greybtn:hover {
  background-color: #505257;
}

.formfields {
  padding: 35px;
  margin-bottom: 40px;
  width: 500px;
}

.buttonInside {
  position: relative;
  margin-bottom: 10px;
}

#showPassword {
  position: absolute;
  right: 15px;
  top: 35px;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  outline: none;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  color: rgb(180, 180, 180);
  font-size: 20px;
}

#showPassword:hover {
  cursor: pointer;
}
