.stripe {
  width: 100vw;
  top: 0;
  position: fixed;
  height: 105px;
  margin-left: 250px;
  background: rgb(84, 187, 201);
}

.title {
  margin-left: 100px;
  margin-top: 30px;
}

h3 {
  color: white;
}

.information {
  margin-top: 170px;
  margin-left: 350px;
  width: 500px;
}

.bluebtn {
  border: none;
  width: 150px;
  border-radius: 1.5rem;
  background-color: rgb(84, 187, 201);
  color: white;
}

.bluebtn:hover {
  background-color: rgb(78, 174, 187);
}

#greybtn {
  border: none;
  width: 150px;
  border-radius: 1.5rem;
  background-color: #646668;
  color: white;
}

#greybtn:hover {
  background-color: #505257;
}

.formfields {
  padding: 40px;
  margin-bottom: 40px;
  width: 500px;
}
