.content {
  width: 85%;
  top: 0;
  position: absolute;
  height: 200px;
  margin-left: 250px;
  background: #54bbc9;
  z-index: 10;
}

#categoryForm {
  width: 80%;
  margin: 2% 0%;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

label {
  color: white;
}

#searchBtn {
  border: solid 1.5px white;
  border-radius: 1.5rem;
  background-color: #54bbc9;
  color: white;
  width: 150px;
}

#searchBtn:hover {
  border: solid 1.5px #4eaebb;
  border-radius: 1.5rem;
  background-color: white;
  color: #4eaebb;
}

.form-group {
  width: 300px;
}
